/** @format */

.footer {
  width: 100%;
  padding: 4rem 0;
  background: rgba(0, 0, 0, 0.8);
}

.footer-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.footer .left {
  height: 100%;
  max-width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-basis: 1;
  padding: 1rem;
  justify-content: center;
}

.footer .right {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: auto;
  color: white;
  justify-content: center;
}

.footer h4 {
  font-size: 1.4rem;
  padding: 1rem 0;
  text-align: center;
}

.footer ul {
  display: flex;
}

.footer li {
  font-size: 1.2rem;
  margin: auto 20px;
}

.info {
  margin-right: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.icon {
  color: white;
  size: 20px;
  margin-right: 0.5rem;
}

.footer .skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 640px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
  .right .skills {
    margin: auto;
  }
}
