/** @format */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.footer-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  bottom: 0;
}

.footer-left {
  height: 100%;
  max-width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-basis: 1;
  padding: 1rem;
  justify-content: center;
}

.footer h4 {
  font-size: 1.4rem;
  padding: 1rem 0;
  text-align: center;
}

.info {
  margin-right: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.icon {
  color: white;
  size: 20px;
  margin-right: 0.5rem;
}

@media screen and (max-width: 640px) {
  .footer h4 {
  font-size: 1.5rem;
  }
}
