#homeVideo {
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.homeVideo {
    height: 100vh;
    width: 100%;
    object-fit: contain;
}

.homeVideo .homeVideoText {
    text-align: center;
    position: absolute;
    margin: auto 0;
    width: 100%;
    top: 40vh;
}

.homeVideo .homeVideoText h1 {
    font-size: 4rem;
    color: white;
}

.homeVideo p {
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    color: white;
}

.homeVideo .btn {
    margin: 1rem .2rem;
}

@media screen and (max-width: 640px) {
    .homeVideoText h1 {
        font-size: 2rem;
    }

    .homeVideoText p {
        font-size: 1.4rem;
        margin-bottom: 1.6rem;
    }
}
